/*  */
.overflow-visible {
  white-space: initial;
}

.overflow-clip {
  text-overflow: clip;
}

.overflow-ellipsis {
  text-overflow: ellipsis;
}


.myNav {
  top: 0px;
  box-shadow: 0 1px 3px -2px;
  color: rgb(41, 109, 41);
  z-index: 2;
  background-color: white;
}

.logoBox {
  font-family: 'Dancing Script', cursive;
  margin-left: 5%;
}

.logo {
   color: rgb(41, 109, 41);
}
.finishedStoryCard {
  margin-bottom: 2%;
  font-family: 'Gelasio', serif;
  outline: 1px solid rgba(41,109,41,.325);
  cursor: pointer;
}
.finishedStoryCard:hover{
  outline: .18em solid rgba(41,109,41,.5);
  z-index: 1;
}
.incompleteStoryCard {
  margin-bottom: 2%;
  font-family: 'Gelasio', serif;
  outline: 1px solid rgba(41,109,41,.325);
}
.selectStoryButtons{
  margin-right: .5%;
}
.finishedStoryView {
  margin-bottom: 2%;
  font-family: 'Gelasio', serif;
  outline: 1px solid rgba(41,109,41,.325);
}



#homePageOr {
  font-size: 1.3rem;
}

#finishedStoriesRow {
  margin-top: 6%;
  margin-bottom: 5%;
}

#finishedStoriesHeader {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 5%;
}
#startStoryHeader {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 5%;
  font-size: 2rem;
}
#incompleteStoryBody > p {
  font-family: 'Gelasio', serif !important;
  font-size: 1.2rem !important;
  text-align: left;
}
#form1 {
  margin-bottom: 3%;
}



label {
  display: block;
  width: 100%;
}

input {
  width: 100%;
}
textarea {
  width: 100%;
  height: 10rem;
}
